<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Dokdo&display=swap&subset=korean" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean" rel="stylesheet">
    <Style>
        h1 {
            font-family: "Dokdo", sans-serif;
            font-size: 50px;
            color: #ffffff;
           }
        p {
            font-family: "Noto Sans KR", sans-serif;
           }
        div {
            width:100; height:100;
            backgound-color: red;
            }


    </Style>

    <title>main - boramking</title>
    <meta name="description" content="boramking의 즐거운 개발 공부 사이트">
    <meta name="keyword" content="개발 초보, 개발 공부, 초보">

</head>
<body>
    <div align="center">
            <h1>가나다라마바사</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1r6eZCfBFUw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div align="center" style="width:auto; height:100px; margin:3px; background-color: #35C5AE;">
        <p>잘 읽히나?</p>
    </div>
    <div>나는 디브다</div>

*/ - div 란? 1) 너비 : 화면을 꽉 채운다.2) 높이 : 기본적으로 콘텐츠 내용에 따른다.용도 : 서로 다른 html을 한 컨테이너로 묶을 때 사용한다.
    -id : #id명 으로 부르는 것!
    -class : .class명 로 부르는 것!/*
</body>
</html>